ul.navbar{
    display: flex;
    list-style: none    ;
    flex-direction: column;
    margin: 0;
    padding: 0;
    position: relative;
}
ul{
    list-style: none;
}
ul.navbar li {
    font-weight: 500;
    position: relative; /* Important for dropdown positioning */
}
li>a{
    font-weight: bold;
}
nav{
    background-color: #333;
    width: 200px;
    min-height: 100vh;
}
body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
a{
    padding: 14px 20px;
    color: white;
    display: block;
    text-decoration: none;
}
a:hover{
    background-color: #444;
}
.drop{
    display: none;
    min-width: 150px;
    /* position: absolute */
    flex-direction: column;
    /* top: 0; */
    z-index: 1000;
    /* left: 100%; */
    background-color: #444; /* optional: improves contrast */

}
.drop a:hover{
    background-color: #555
    ;
}
.show{
    display:flex;
}